.border-btn {
    color:  #fff !important;
}
.text-center {
    align-items: center;
}

.align-center {
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.about-icon-1 {
    background-image: url('https://profile-image-plunes.s3.amazonaws.com/Plunes.com+images/howDoesItWork/images.jpeg') !important;
}
.icon-text {
    font-size: 3rem;
    color: #fff;
    font-weight: bold;
    text-align: center;
}

.flex-parent {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.flex-child {
    flex: 1 1 45%;
    margin:  1%;
}